{% extends 'base.html' %}

{% block content %}

    <!-- Shows what directory you're in on the website and gives you easy access to heading back to the homepage -->
    <nav aria-label="breadcrumb">
        <ol class="container breadcrumb mt-5 pt-5">
            <li class="breadcrumb-item"><a href="/">Homepage</a></li>
            <li class="breadcrumb-item active text-body" aria-current="page" >Your booking history</li>
        </ol>
    </nav>

    <!-- Details the booking history and information about your history as the headings (Consert name, Booking ID, and Date and time of booking) 
    line up with the previous tickets information of those categories below. -->
    <form class="container border border-3 p-5 mb-5">
        <h1 id="title" class="m-5">Booking History</h1>
            <dl class="row m-4">
                <dt class="col-sm-3">Concert Name</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">Booking ID</dt>
                        <dt class="col-sm-8">Date and Time of booking</dt>
                    </dl>
                </dd>
            </dl>

        <!-- The first concert in your booking history that details the ticket information required -->
        <div class="border p-4 m-4">
            <dl class="row">
                <dd class="col-sm-3">Gorillaz World Tour</dd>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dd class="col-sm-4">4823956</dd>
                        <dd class="col-sm-8">20/03/2022</dd>

                    </dl>
                </dd>
            </dl>
        <!-- Adds the image for the concert -->
        <div class="card mb-3 rounded-3">
            <img class="card-img-top" src="static/img/gorillaz.jpg" alt="Gorillaz">
        </div>
        </div>
        </div>

        <!-- The second concert in your booking history that details the ticket information required -->
        <div class="border p-4 m-4">
            <dl class="row">
                <dd class="col-sm-3">The Clancy World Tour</dd>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dd class="col-sm-4">4824572</dd>
                        <dd class="col-sm-8">12/07/2024</dd>

                    </dl>
                </dd>
            </dl>
        <!-- Adds the image for the concert -->
        <div class="card mb-3 rounded-3">
            <img class="card-img-top" src="static/img/clancy.jpg" alt="Clancy">
        </div>
        </div>
        </div>
    </form>


{% endblock %}