{% extends 'base.html' %}

{% block content %}
  <body id="event_creation_body">
            <!-- Shows what directory you're in on the website and gives you easy access to heading back to the homepage -->
        <nav aria-label="breadcrumb">
            <ol class="container breadcrumb mt-5 pt-5">
                <li class="breadcrumb-item"><a href="/">Homepage</a></li>
                <li class="breadcrumb-item active text-body" aria-current="page" >Register an account</li>
            </ol>
        </nav>


    <!-- Allows a logged in user to create their own concert by detailing information about it -->
    <form id="form" class="container border border-3 p-5 rounded-5 needs-validation" novalidate method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        <div class="m-5">
            <h1 id="title">Register Now</h1>
        </div>
        <h5>First Name</h5>
        <div class="form-floating mb-3">
                {{ form.first_name(class="form-control", id="floatingInput", placeholder="") }}
            <label for="floatingInput">first name</label>
            <div class="invalid-feedback">
                Please enter your First Name
            </div>
        </div>

        <h5>Surname</h5>
        <div class="form-floating mb-3">
                {{ form.surname(class="form-control", id="floatingInput", placeholder="") }}
            <label for="floatingInput">surname</label>
            <div class="invalid-feedback">
                Please enter your Surname
            </div>
        </div>
        <h5>Email</h5>
        <div class="form-floating mb-3">
                {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="") }}
            <label for="floatingInput">email address</label>
            <div class="invalid-feedback">
                Please enter your Email
            </div>
        </div>
        <h5>Contact Number</h5>
        <div class="form-floating mb-3">
                {{ form.phone(type="number", class="form-control", id="floatingInput", placeholder="") }}
            <label for="floatingInput">phone number</label>
            <div class="invalid-feedback">
                Please enter a valid phone number
            </div>
        </div>
        <h5>Street Address</h5>
        <div class="form-floating mb-3">
                {{ form.address(class="form-control", id="floatingInput", placeholder="") }}
            <label for="floatingInput">address</label>
            <div class="invalid-feedback">
                Please enter your street address
            </div>
        </div>
        <h5>Password</h5>
            <div class="form-floating mb-3">
                {{ form.password(type="password", class="form-control", id="floatingInput", placeholder="") }}
                <label for="floatingInput">password</label>
            <div class="invalid-feedback">
                Please enter your password
            </div>
        <h5>Confirm Password</h5>
            <div class="form-floating mb-3">
                {{ form.confirm(type="password", class="form-control", id="floatingInput", placeholder="") }}
                <label for="floatingInput">re-enter password</label>
            <div class="invalid-feedback">
                Please re-enter your password
            </div>
            </div>
            </div>
        <div class="d-grid gap-2">
            {{ form.submit(class="btn btn-success btn-lg", id="toastbtn") }}

        </div>

        <pre>
Have an account? <a href="/login">Log In</a> now!
        </pre>
    </form>

    <script>
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>


{% endblock %}